body {
    text-align: center;
}

p {
    font-size: 2rem;
}

div#board table {
    margin: 0 auto;
    background: black;
}

div#board td {
    background: #00bb00;
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    font-family: monospace;
}

div#board td.wall{
    background: #333333;
    height: 1rem;
    width: 3rem;
    font-size: 2rem;
    font-family: monospace;
}

div#board .white::before {
    content: "x";
}

div#board .black::before {
    content: "o";
}

div#board .white {
    color: black;
}

div#board .black {
    color: black;
}